html {
  padding: 0px;
  margin: 0px; 
  background-color: black;
}

.main {
  width: 100%;
  display: inline-block; 
  overflow-x: hidden;
  overflow-y: auto;
}
.nav {
  height: 70px;
  width: 100%;  
  line-height: 45px;
  display: inline-block;
  position: relative;
  text-align: right;
  vertical-align: middle;
  float: left;
  background-color: rgba(255,255,255,0.6);
}

ul {
  display: block;
  /*background-color: green;*/

}

ul li {
  display: inline-block;
  font-size: 20px;
  font-family: Arial;
  padding-right: 20px;
}

ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.container {
  width: 100%;
  height: 700px;
  display: inline-block;
}

.image1 {
background-image: url(image1.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
}

.transparent1{
height: 40%;
width: 100%
}


.name{
  height: 150px;
  width: 100%;
  line-height: 40px;
display: inline-block;
position: relative;
background-color: rgba(255,255,255,0.8);
text-align: center;
background-position: center center;
position: relative;

}

h1{
  font-family: Arial;
  font-style: bold;
  font-size: 85px;
  color: #1a0d00;

}


