html {
  padding: 0px;
  margin: 0px; 
  background-color: black;
}

.main {
  width: 100%;
  display: inline-block; 
  overflow-x: hidden;
  overflow-y: auto;
  overflow:auto;
}

div{
  line-height: 26pt;
}

.nav {
  height: 70px;
  width: 100%;  
  line-height: 45px;
  display: inline-block;
  position: fixed;
  text-align: right;
  vertical-align: middle;
  float: left;
  background-color: rgba(255,255,255,0.6); 
}


#navbar {
  display: block; 
  
}

#navbar li {
  display: inline-block;
  font-size: 20px;
  font-family: Arial;
  padding-right: 20px;
}

#navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.container1 {
  width: 100%;
  height: 700px;
  display: inline-block;
}

.image1 {
background-image: url(image1.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
position: relative;
}

.transparent1{
height: 40%;
width: 100%
}


.name {
height: 200px;
width: 100%;
line-height:400%;
display: block;
position: relative;
background-color: rgba(255,255,255,0.8);
text-align: center;
background-position: center center;
position: relative;
white-space: wrap;
}

.heading {
  font-family: Arial;
  font-style: bold;
  font-size: 85px;
  color: #1a0d00;
  display: inline-block;
  overflow-wrap: break-word;
}

.container_sub {
  width: 92%;
  margin: 20px auto;  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  color: white;
  padding: 20px;

}

.topics {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
  color: #bb86fc;
  text-align: center;
  padding-top: 20px;
}


.floatl{
  float: left;
  margin-right: 35px;
}

.floatr{
  float:right;
  margin-left: 15px;
}


.internal_list {
  margin-top: -2px;
  margin-bottom: 10px;
  display:block;
  padding: 10px;
  line-height: 26pt;
}

.container2{
  float: right;
}

.container4{
  color: white;
  font-size: 20px;
  font-family: Arial;
}

.container5{
  max-width: 200px;
  color: white;
  font-size: 20px;
  font-family: Arial;
  width: 200px;
}

.column {
  float: left;
  padding: 75px;
  padding-left: 60px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.blog_container {
  display: inline-block;
  position: relative;
  color: white;

}

.blogtext_container {
  padding-left: 80px;
  margin-left: 30px;
}

.skills{
  padding-top: 40px;
}

.innerlinks{
  color: yellow;
}

#copyright {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  bottom: 0px;
  width: 100%;
  color: white;
}

#main-img {
  background-image: url(image1.jpeg);
  background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
  height: 700px;
  width:100%
} 






